<h1>Viewing Party</h1>

<h2>Discover Movies</h2>

<%= button_to "Top Rated", "users/#{@user.id}/top_rated", method: :get %> <br>

<%= form_with url: "/users/#{@user.id}/search", local: true do |form| %>
  <%= form.label :search, 'Search For Movie By Title:' %>
  <%= form.text_field :search %>
  <%= form.submit 'Search' %>
<% end %>
